<p class="contact-form-explanation">Write your message in the form below, and we'll deliver it to the poster. If they choose, they'll reply directly to the email you provide.</p>
<form action="<%= post.url() %>/send_email" method="post" class="contactForm group ajax">
	<input type="hidden" name="_csrf" value="<%= token %>" />
	<p class="group email <%= currentUser ? 'confirmed-field' : '' %>">
		<label for="email">Your email:</label>
		<% if (currentUser) { %>
			<span class="static-form-box"><%= currentUser.email %></span>
		<% } else { %>
			<input type="email" name="email" placeholder="yourname@something.upenn.edu" value="<%= email ? email : '' %>" />
		<% } %>
	</p>
	<p class="group text">
		<textarea name="email_text"></textarea>
	</p>
	<input type="submit" value="Send email" />
</form>