<form action="/posts/create" method="post" class="postForm leftForm group">
	<input type="hidden" name="_csrf" value="<%= token %>" />
	<p class="group email <%= currentUser ? 'confirmed-field' : '' %>">
		<label for="email">Your Email:</label>
		<% if (currentUser) { %>
			<span class="static-form-box"><%= currentUser.email %></span>
		<% } else { %>
			<input type="email" name="email" placeholder="yourname@something.upenn.edu" value="<%= email ? email : '' %>" />
		<% } %>
	</p>
	<p class="group title">
		<label for="title" class="title">Title:</label>
		<input type="text" name="title" class="title" />
	</p>
	<p class="group category">
		<label for="category" class="category">Category:</label>
		<select name="category" class="category">
			<% categories.forEach(function(cat) { %>
				<option value="<%= cat.slug %>" <%= cat.slug == 'misc' ? 'selected' : '' %>><%= cat.name %></option>
			<% }) %>
		</select>
	</p>
	<p class="group text">
		<label for="text">Text:</label>
		<textarea name="text"></textarea>
	</p>
	<button type="submit">Post</button>
</form>