<% var title = post.title %> 
<% include ../layouts/head %>

<article class="post">
	<p class="post-time"><time><%= post.prettyDate("h:MM TT mmm d, yyyy") %></time></p>
	<a href="/<%= post._category.slug %>" class="post-category"><%= post._category.name %></a>
	<h1><%= post.title %></h1>
	<%- post.text_formatted %>
</article>

<div id="additional-post-ui">
	<% if (currentUser && (currentUser.email == (post.email || post._user.email))) { %>
		<form method="post" class="delete-form" action "<%= post.url() %>/delete">
			<input type="hidden" name="_csrf" value="<%= token %>" />
			<button type="submit" class="destructive">Delete your post</button>
		</form>
	<% } else { %>
		<p>
			<a href="<%= post.url() %>/contact" class="link-button ajax">Contact this poster</a>
		</p>
	<% } %>
</div>

<% include ../layouts/foot %>